@page
@model ProjectPRN221.Pages.adminsite.category.IndexModel

@{
    ViewData["Title"] = "Category";
    Layout = "_AdminLayout";
}

        <div class="container-scroller">
    <partial name="/Pages/_HeaderAdminsite.cshtml" model="new ProjectPRN221.Pages._HeaderAdminsiteModel()" />

    <partial name="/Pages/_LeftPageAdminSite.cshtml" model="new ProjectPRN221.Pages._LeftPageAdminSiteModel()" />
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-sm-flex justify-content-between align-items-start">
                                        <div>
                                            <h4 class="card-title card-title-dash">Category</h4>
                                        </div>
                                        <div>
                                            <form class="search-form" method="post">
                                                <input type="hidden" name="service" value="searchCategory">
                                                <input type="text" class="form-control" name="name" placeholder="Search Here" title="Search here">
                                            </form>
                                        </div>
                                        <div>
                                            <a href="/adminsite/category/Create" class="btn btn-primary text-white me-0"><i class="mdi mdi-account-plus"></i>Add new Category</a>
                                            <a onclick="exportToExcel()" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                                        </div>

                                    </div>
                                    
                                    <div class="table-responsive">
                                        <table class="table table-hover" id="myTable">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>Update</th>
                                                    @*<th>Delete</th>*@
                                                </tr>
                                            </thead>
                                            <tbody>
                                        @foreach (var item in Model.Category)
                                        {
                                        <tr>
                                                        <td>@item.CategoryId</td>
                                                        <td>@item.CategoryName</td>
                                                        <td>
                                                            <div class="badge badge-info"><a href="/adminsite/category/Edit&id=@item.CategoryId">Update</a></div>
                                                            <div class="badge badge-danger"><a href="/adminsite/category/Delete?id=@item.CategoryId">Delete</a></div>
                                                        </td>
                                                    </tr>    
                                        }
                                            </tbody>
                                        </table>


                                     @*PAGING*@ 

                                    <div style="text-align: center">
                                        @if (Model.Category.PageIndex > 1)
                                        {
                                            <a href="?pageIndex=@(Model.Category.PageIndex - 1)">Previous</a>
                                        }
                                        else
                                        {
                                            <span>Previous</span>
                                        }

                                        @for (int i = 1; i <= Model.Category.TotalPages; i++)
                                        {
                                            @if (i == Model.Category.PageIndex)
                                            {
                                                <span>@i</span>
                                            }
                                            else
                                            {   
                                                <a href="?pageIndex=@i">@i</a>
                                                @*@if (Model.Admin. == null)
                                                {
                                                    <a href="?page=@i">@i</a>
                                                }*@
                                            }
                                        }

                                        @if (Model.Category.PageIndex < Model.Category.TotalPages)
                                        {
                                            <a href="?pageIndex=@(Model.Category.PageIndex + 1)">Next</a>
                                        }
                                        else
                                        {
                                            <span>Next</span>
                                        }
                                    </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
