@page
@model ProjectPRN221.Pages.adminsite.warranty.IndexModel

@{
    ViewData["Title"] = "Warranty";
    Layout = "_AdminLayout";
}

        <div class="container-scroller">

    <partial name="/Pages/_HeaderAdminsite.cshtml" model="new ProjectPRN221.Pages._HeaderAdminsiteModel()" />

    <partial name="/Pages/_LeftPageAdminSite.cshtml" model="new ProjectPRN221.Pages._LeftPageAdminSiteModel()" />

                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-sm-flex justify-content-between align-items-start">
                                        <div>
                                            <h4 class="card-title card-title-dash">Warranty</h4>
                                        </div>

                                        <div>
                                            <a onclick="exportToExcel()" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                                        </div>
                                    </div>
                                    <div class="d-sm-flex justify-content-evenly">
                                                <form class="search-form" method="post">
                                                    <div class="form-group">
                                                        <label for="title">Search Customer</label>
                                                        <input type="hidden"  name="service" value="searchWarranty">
                                                        <input type="text" class="form-control" name="customer" id="title" placeholder="Search Here" title="Search here">
                                                    </div>
                                                </form>
                                    </div>
                                    <div class="d-sm-flex justify-content-evenly">
                                        <p class="badge badge-info"><a href="/adminsite/warranty/Index?service=displayWarrantyStatus&status=Wait">Wait: @Model.Wait </a></p>
                                        <p class="badge badge-warning"><a href="/adminsite/warranty/Index?service=displayWarrantyStatus&status=Process">Process: @Model.Process </a></p>
                                        <p class="badge badge-success"><a href="/adminsite/warranty/Index?service=displayWarrantyStatus&status=Done">Done: @Model.Done </a></p>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover" id="myTable">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Customer</th>
                                                    <th>Image</th>
                                                    <th>Product Name</th>
                                                    <th>Image Product</th>
                                                    <th>Product Status</th>
                                                    <th>Warranty Status</th>
                                                    <th>Warranty Quantity</th>
                                                    <th>Warranty Date</th>
                                                    <th>Image Product Official</th>  
                                                    <th>Status Product Official</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                    <th>Update</th>
                                                    @if (Model.Status != null)
                                                    {
                                                        @if (Model.Status.Equals("Wait") || Model.Status.Equals("Process"))
                                                        {
                                                             <th>Update Status</th>
                                                        }
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                        @foreach (var item in Model.Warranty)
                                        {   
                                            <tr>
                                                        <td>@item.WarrantyId</td>
                                                        <td>@item.Customer.Name</td>
                                                        <td><img src="@item.Product.Image" alt="alt"/></td>
                                                        <td>@item.Product.ProductName</td>
                                                        <td><img src="@item.ImageProduct" alt="alt"/></td>
                                                        <td>@item.ProductStatus</td> 
                                                        <td>@item.WarrantyStatus</td>
                                                        <td>@item.WarrantyQuantity</td>
                                                        <td>@item.WarrantyDate</td>
                                                        <td><img src="@((item.ImageProductAdmin != null) ? item.ImageProductAdmin : "NULL")" alt="alt" /></td>
                                                        <td>@((item.ProductStatusAdmin != null) ? item.ProductStatusAdmin : "NULL")</td>
                                                        <td>@((item.WarrantyDateAdmin != null) ? item.WarrantyDateAdmin : "NULL")</td>
                                                        <td>
                                                         <div class="@(item.Status.Equals("Wait") ? "badge badge-opacity-info" :
                                                                  item.Status.Equals("Process") ? "badge badge-opacity-warning" :
                                                                  item.Status.Equals("Done") ? "badge badge-opacity-success" :
                                                                  item.Status.Equals("Cancel") ? "badge badge-opacity-danger" :
                                                                  "default-class")">
                                                        @item.Status
                                                        </div>
                                                        </td> 

                                                        <td><div class="badge badge-opacity-info"> <a href="/adminsite/warranty/Edit?id=@item.WarrantyId">Update</a> </div></td>

                                                        @if (Model.Status != null)
                                                {
                                                    @if (Model.Status.Equals("Wait"))
                                                {
                                                    <td> 
                                                                <form method="post"> 
                                                                    <input type="hidden" name="service" value="updateStatus">
                                                                    <input  type="hidden" name="id" id="id" value="@item.WarrantyId"> 
                                                                    <label  for="status">Status: </label> 
                                                                    <Select class="input" name="status" id="status"> 
                                                                        <option selected value="Wait">Wait</option>
                                                                        <option value="Process">Process</option> 
                                                                    </Select> 
                                                                    <input type="submit" value="Update">
                                                                </form> 
                                                    </td>
                                                }
                                                @if (Model.Status.Equals("Process"))
                                                {
                                                            <td> 
                                                                <form method="post"> 
                                                                    <input type="hidden" name="service" value="updateStatus">
                                                                    <input  type="hidden" name="id" id="id" value="@item.WarrantyId"> 
                                                                    <label  for="status">Status: </label> 
                                                                    <Select class="input" name="status" id="status"> 
                                                                        <option  value="Wait">Wait</option>
                                                                        <option selected value="Process">Process</option> 
                                                                        <option value="Done">Done</option>
                                                                    </Select> 
                                                                    <input type="submit" value="Update">
                                                                </form> 
                                                            </td>
                                                }
                                                }
                                                    </tr>
                                        }
                                            </tbody>
                                        </table>
                                        @*PAGING*@ 

                                    <div style="text-align: center">
                                        @if (Model.Warranty.PageIndex > 1)
                                        {
                                            <a href="?pageIndex=@(Model.Warranty.PageIndex - 1)">Previous</a>
                                        }
                                        else
                                        {
                                            <span>Previous</span>
                                        }

                                        @for (int i = 1; i <= Model.Warranty.TotalPages; i++)
                                        {
                                            @if (i == Model.Warranty.PageIndex)
                                            {
                                                <span>@i</span>
                                            }
                                            else
                                            {   
                                                <a href="?pageIndex=@i">@i</a>
                                                @*@if (Model.Admin. == null)
                                                {
                                                    <a href="?page=@i">@i</a>
                                                }*@
                                            }
                                        }

                                        @if (Model.Warranty.PageIndex < Model.Warranty.TotalPages)
                                        {
                                            <a href="?pageIndex=@(Model.Warranty.PageIndex + 1)">Next</a>
                                        }
                                        else
                                        {
                                            <span>Next</span>
                                        }
                                    </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <script>
                                                                function updateDocumentAndDownload(element) {
                                                                    var currentDate = new Date();
                                                                    var day = currentDate.getDate();
                                                                    var month = currentDate.getMonth() + 1;
                                                                    var year = currentDate.getFullYear();
                                                                    var dateString = day + '/' + month + '/' + year;
                                                                    var date = dateString;
                                                                    var row = element.parentNode.parentNode;
                                                                    var name = row.getElementsByClassName("name")[0].value;
                                                                    var phone = row.getElementsByClassName("phone")[0].value;
                                                                    var product_id = row.getElementsByClassName("product_id")[0].value;
                                                                    var product_name = row.getElementsByClassName("product_name")[0].value;
                                                                    var status_product = row.getElementsByClassName("status_product")[0].value;
                                                                    var warranty_date = row.getElementsByClassName("warranty_date")[0].value;
                                                                    var status_warranty = row.getElementsByClassName("warranty_status")[0].value;
                                                                    var admin_name = row.getElementsByClassName("name_admin")[0].value;
                                                                    var id_admin = row.getElementsByClassName("id_admin")[0].value;

                                                                    var url = "https://script.google.com/macros/s/AKfycbwBdkazjfAPDM9w0MYKj89YFPA0QbabTUIecQDV0QBAtApktuxvahKm4sZHVFndFGby/exec";

                                                                    var xhr = new XMLHttpRequest();
                                                                    xhr.open("POST", url);
                                                                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                                                                    xhr.responseType = "text";
                                                                    xhr.onreadystatechange = function () {
                                                                        if (xhr.readyState === XMLHttpRequest.DONE) {
                                                                            if (xhr.status === 200) {
                                                                                var responseText = xhr.responseText;
                                                                                var responseJson = JSON.parse(responseText);
                                                                                var downloadUrl = responseJson.url;
                                                                                var downloadUrlDocx = downloadUrl.replace("/edit?usp=drivesdk", "/export?format=doc");
                                                                                var link = document.createElement("a");
                                                                                link.href = downloadUrlDocx;
                                                                                link.download = "Warranty.txt";
                                                                                document.body.appendChild(link);
                                                                                link.click();
                                                                                document.body.removeChild(link);
                                                                                URL.revokeObjectURL(downloadUrl);
                                                                            } else {
                                                                                console.error("Error:", xhr.status);
                                                                            }
                                                                        }
                                                                    };
                                                                    var params = "name=" + encodeURIComponent(name) + "&phone=" + encodeURIComponent(phone) +
                                                                            "&date=" + encodeURIComponent(date) + "&product_id=" + encodeURIComponent(product_id) +
                                                                            "&product_name=" + encodeURIComponent(product_name) + "&status_product=" + encodeURIComponent(status_product) +
                                                                            "&warranty_date=" + encodeURIComponent(warranty_date) + "&status_warranty=" + encodeURIComponent(status_warranty)
                                                                            + "&admin_name=" + encodeURIComponent(admin_name) + "&id_admin=" + encodeURIComponent(id_admin);
                                                                    xhr.send(params);
                                                                }
    </script>
