@page
@model ProjectPRN221.Pages.customersite.shop.IndexModel
@{
    ViewData["Title"] = "Shop";
    Layout = "CustomerLayout";
}

@*HEADER*@
@if (!string.IsNullOrEmpty(@Model.isCustomerAuthenticated))
{
    <partial name="/Pages/_HeaderCustomersite.cshtml" model="new ProjectPRN221.Pages._HeaderCustomerSiteModel()" />
}
else
{
    <partial name="/Pages/_HeaderGuestSite.cshtml" model="new ProjectPRN221.Pages._HeaderGuestSiteModel()" />
}

@*BANNER*@
<section class="site-banner jarallax min-height300 padding-large" style="background: url(images/banner/macbook.jpg) no-repeat; background-position: top;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Shop page</h1>
                <div class="breadcrumbs">
                    <span class="item">
                        <a href="#">Home /</a>
                    </span>
                    <span class="item">Shop</span>
                </div>
            </div>
        </div>
    </div>
</section>

@*CONTENT*@
<div class="shopify-grid padding-large">
    <div class="container">
        <div class="row">

            <section id="selling-products" class="col-md-9 product-store">
                <div class="container">

                    <ul class="tabs list-unstyled">
                        <li data-tab-target="#all" class="active tab">
                            <a href="/customersite/shop">All</a>
                        </li>
                        @foreach (var item in Model.Category)
                        {
                            <li data-tab-target="#all" class="tab">
                                <a href="/customersite/shop?service=displayProductbyCategory&categoryId=@item.CategoryId">@item.CategoryName</a>
                            </li>
                        }

                    </ul>
                    <div class="sort-dropdown">
                        <select id="sortOption" onchange="sortProducts()">
                            <option value="">-- Sắp xếp theo --</option>
                            <option value="nameAsc">Tên: A-Z</option>
                            <option value="nameDesc">Tên: Z-A</option>
                            <option value="priceAsc">Giá: Thấp đến cao</option>
                            <option value="priceDesc">Giá: Cao đến thấp</option>
                        </select>
                    </div>
                    <div class="tab-content">
                        <div id="all" data-tab-content class="active">


                            <div class="row d-flex flex-wrap">

                                @foreach (var item in Model.Product)
                                {
                                    <div class="product-item col-lg-4 col-md-6 col-sm-6">
                                        <div class="image-holder">
                                            <img src="@item.Image" alt="Books" class="product-image" style="width: 290px; height: 290px;">
                                        </div>
                                        <div class="product-detail">
                                            <h4 class="product-title">
                                                <a href="/customersite/productdetail?id=@item.ProductId">@item.ProductName</a>
                                            </h4>
                                            <div class="item-price text-primary number">@item.ListPrice</div>
                                        </div>
                                    </div>
                                }

                            </div>

                            <div style="text-align: center">
                                <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
                                    <div class="pagination loop-pagination d-flex justify-content-center">
                                        @if (Model.Product.PageIndex > 1)
                                        {
                                            <a href="?pageIndex=@(Model.Product.PageIndex - 1)" class="pagination-arrow d-flex align-items-center">
                                                <i class="icon icon-arrow-left"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <span class="pagination-arrow d-flex align-items-center">
                                                <i class="icon icon-arrow-left"></i>
                                            </span>
                                        }

                                        @for (int i = 1; i <= Model.Product.TotalPages; i++)
                                        {
                                            if (i == Model.Product.PageIndex)
                                            {
                                                <span aria-current="page" class="page-numbers current">@i</span>
                                            }
                                            else
                                            {
                                                <a href="?pageIndex=@i" class="page-numbers">@i</a>
                                            }
                                        }

                                        @if (Model.Product.PageIndex < Model.Product.TotalPages)
                                        {
                                            <a href="?pageIndex=@(Model.Product.PageIndex + 1)" class="pagination-arrow d-flex align-items-center">
                                                <i class="icon icon-arrow-right"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <span class="pagination-arrow d-flex align-items-center">
                                                <i class="icon icon-arrow-right"></i>
                                            </span>
                                        }
                                    </div>
                                </nav>
                            </div>

                            @*                                    <div>
                            <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
                            <div class="pagination loop-pagination d-flex justify-content-center">
                            <c:choose>
                            <c:when test="${currentPage > 1}">
                            <c:if test="${id == null && name == null && priceRange == null}">
                            <a href="?page=${currentPage - 1}" class="pagination-arrow d-flex align-items-center">
                            <i class="icon icon-arrow-left"></i>
                            </a>
                            </c:if>
                            <c:if test="${id != null && sv.equals('displayProductbyCategory')}">
                            <a href="?service=displayProductbyCategory&id=${id}&page=${currentPage - 1}" class="pagination-arrow d-flex align-items-center">
                            <i class="icon icon-arrow-left"></i>
                            </a>
                            </c:if>
                            <c:if test="${id != null && sv.equals('displayProductbyBrand')}">
                            <a href="?service=displayProductbyBrand&id=${id}&page=${currentPage - 1}" class="pagination-arrow d-flex align-items-center">
                            <i class="icon icon-arrow-left"></i>
                            </a>
                            </c:if>
                            <c:if test="${name != null && sv.equals('displayProductbyName')}">
                            <a href="?service=displayProductbyName&name=${name}&page=${currentPage - 1}" class="pagination-arrow d-flex align-items-center">
                            <i class="icon icon-arrow-left"></i>
                            </a>
                            </c:if>
                            <c:if test="${priceRange != null && sv.equals('displayProductByPrice')}">
                            <a href="?service=displayProductByPrice&priceRange=${priceRange}&page=${currentPage - 1}" class="pagination-arrow d-flex align-items-center">
                            <i class="icon icon-arrow-left"></i>
                            </a>
                            </c:if>
                            </c:when>
                            <c:otherwise>
                            <a href="#" class="pagination-arrow d-flex align-items-center">
                            <i class="icon icon-arrow-left"></i>
                            </a>
                            </c:otherwise>
                            </c:choose>

                            <c:forEach begin="1" end="${totalPages}" varStatus="loop">
                            <c:choose>
                            <c:when test="${loop.index == currentPage}">
                            <span aria-current="page" class="page-numbers current">${loop.index}</span>
                            </c:when>

                            <c:otherwise>
                            <c:if test="${id != null && sv.equals('displayProductbyCategory')}">
                            <a href="?service=displayProductbyCategory&id=${id}&page=${loop.index}" class="page-numbers">${loop.index}</a>
                            </c:if>
                            <c:if test="${id != null && sv.equals('displayProductbyBrand')}">
                            <a href="?service=displayProductbyBrand&id=${id}&page=${loop.index}" class="page-numbers">${loop.index}</a>
                            </c:if>
                            <c:if test="${name != null && sv.equals('displayProductbyName')}">
                            <a href="?service=displayProductbyName&name=${name}&page=${loop.index}" class="page-numbers">${loop.index}</a>
                            </c:if>
                            <c:if test="${priceRange != null && sv.equals('displayProductByPrice')}">
                            <a href="?service=displayProductByPrice&priceRange=${priceRange}&page=${loop.index}" class="page-numbers">${loop.index}</a>
                            </c:if>
                            <c:if test="${id == null && name == null && priceRange == null}">
                            <a href="?page=${loop.index}" class="page-numbers">${loop.index}</a>
                            </c:if>
                            </c:otherwise>
                            </c:choose>
                            </c:forEach>

                            <c:choose>
                            <c:when test="${currentPage < totalPages}">
                            <c:if test="${id == null && name == null && priceRange == null}">
                            <a href="ShopController?page=${currentPage + 1}" class="pagination-arrow d-flex align-items-center">
                            <i class="icon icon-arrow-right"></i>
                            </a>
                            </c:if>
                            <c:if test="${priceRange != null && sv.equals('displayProductByPrice')}">
                            <a href="ShopController?service=displayProductByPrice&priceRange=${priceRange}&page=${currentPage + 1}" class="pagination-arrow d-flex align-items-center">
                            <i class="icon icon-arrow-right"></i>
                            </a>
                            </c:if>
                            <c:if test="${name != null && sv.equals('displayProductbyName')}">
                            <a href="ShopController?service=displayProductbyName&name=${name}&page=${currentPage + 1}" class="pagination-arrow d-flex align-items-center">
                            <i class="icon icon-arrow-right"></i>
                            </a>
                            </c:if>
                            <c:if test="${id != null && sv.equals('displayProductbyBrand')}">
                            <a href="ShopController?service=displayProductbyBrand&id=${id}&page=${currentPage + 1}" class="pagination-arrow d-flex align-items-center">
                            <i class="icon icon-arrow-right"></i>
                            </a>
                            </c:if>
                            <c:if test="${id != null && sv.equals('displayProductbyCategory')}">
                            <a href="ShopController?service=displayProductbyCategory&id=${id}&page=${currentPage + 1}" class="pagination-arrow d-flex align-items-center">
                            <i class="icon icon-arrow-right"></i>
                            </a>
                            </c:if>
                            </c:when>
                            <c:otherwise>
                            <a href="#" class="pagination-arrow d-flex align-items-center">
                            <i class="icon icon-arrow-right"></i>
                            </a>
                            </c:otherwise>
                            </c:choose>
                            </div>
                            </nav>
                            </div>*@
                        </div>
                    </div>
                </div>
            </section>

            <aside class="col-md-3">
                <div class="sidebar">
                    <div class="widgets widget-menu">
                        <div class="widget-search-bar">
                            <form method="post" class="d-flex">
                                <input type="hidden" name="service" value="displayProductbyName">
                                <input type="text" name="productName" required>
                                <button class="btn btn-dark"><i class="icon icon-search"></i></button>
                            </form>
                        </div>
                    </div>

                    <div class="widgets widget-product-brands">
                        <h5 class="widget-title">Brands</h5>
                        <ul class="product-tags sidebar-list list-unstyled">
                            @foreach (var item in Model.Brand)
                            {
                                <li class="tags-item">
                                    <a href="/customersite/shop?service=displayProductbyBrand&brandId=@item.BrandId">@item.BrandName</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="price-filter">
                        <label for="priceRange">Lọc theo giá:</label>
                        <input type="range" id="priceRange" name="priceRange" min="0" max="100000000" onchange="filterProducts()">
                        <span id="priceRangeValue"></span>
                    </div>
                </div>
            </aside>

        </div>
    </div>
</div>

<hr>



@* BRAND*@
<section id="brand-collection" class="padding-medium bg-light-grey">
    <div class="container">

        <div class="d-flex flex-wrap justify-content-between " style="margin-bottom: 20px;">
            <img src="/Images/brands/apple.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
            <img src="/Images/brands/intel.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
            <img src="/Images/brands/microsoft.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
            <img src="/Images/brands/dell.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
            <img src="/Images/brands/asus.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
        </div>

        <div class="d-flex flex-wrap justify-content-between">
            <img src="/Images/brands/canon.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
            <img src="/Images/brands/hp.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
            <img src="/Images/brands/lenovo.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
            <img src="/Images/brands/lg.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
            <img src="/Images/brands/sony.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
        </div>
    </div>
</section>



@*MORE INFORMATION*@
<section id="shipping-information">
    <hr>
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center justify-content-between">
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-truck"></i>
                    <h4 class="block-title">
                        <strong>Free shipping</strong> Over $200
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-return"></i>
                    <h4 class="block-title">
                        <strong>Money back</strong> Return within 7 days
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-tags1"></i>
                    <h4 class="block-title">
                        <strong>Buy 4 get 5th</strong> 50% off
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-help_outline"></i>
                    <h4 class="block-title">
                        <strong>Any questions?</strong> experts are ready
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>


@*FOOTER*@
<partial name="/Pages/_FooterCustomerSite.cshtml" model="new ProjectPRN221.Pages._FooterCustomerSiteModel()" />
<script href="~/customer/js/sortscript.js"></script>
