@page
@model ProjectPRN221.Pages.customersite.checkout.IndexModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "CustomerLayout";
}

    
    @*HEADER*@
<partial name="/Pages/_HeaderCustomersite.cshtml" model="new ProjectPRN221.Pages._HeaderCustomerSiteModel()" />
    @*BANNER*@
        <section class="site-banner padding-small bg-light-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs">
                            <span class="item">
                                <a href="HomeController">Home /</a>
                            </span>
                            <span class="item">
                                <a href="ShopController">Shop /</a>
                            </span>
                            <span class="item">Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        @*SHOPING*@
        <section class="shopify-cart checkout-wrap padding-large">
            <div class="container">
                
                        <form class="form-group" method="post">
                            <input type="hidden" name="service" value="addOrder">
                            <div class="row d-flex flex-wrap">
                                <div class="col-lg-6">
                                    <h2 class="section-title">Billing Details</h2>
                                    <div class="billing-details">
                                        <input type="hidden" name="id" value="@Model.Customer.CustomerId">
                                        <input type="hidden" name="total_price" value="@Model.totalprice">
                                        <input type="hidden" name="status" value="Wait">
                                        <label for="cname">Name Receiver*</label>
                                        <input type="text" id="cname" name="name_receiver" value="@Model.Customer.Name" class="form-control" required>
                                        <label for="cphone">Phone Receiver*</label>
                                        <input type="text" id="cphone" name="phone_receiver" value="@Model.Customer.Phone" class="form-control" required> 
                                        <label for="caddress">Address Receiver*</label>
                                        <input type="text" id="caddress" name="address_receiver" value="@Model.Customer.Address" class="form-control" required> 
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="your-order">
                                        <h2 class="section-title">Cart Totals</h2>
                                        <div class="total-price">
                                            <table cellspacing="0" class="table">
                                                <tbody>
                                                    <tr class="order-total">
                                                        <th>Total</th>
                                                        <td data-title="Total">
                                                            <span class="price-amount amount text-primary">
                                                                <bdi>
                                                                    <span class="price-currency-symbol number">@Model.totalprice</span></bdi>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>    
                                            <div class="list-group mt-5 mb-3">
                                                <label class="list-group-item d-flex">
                                                    <input class="form-check-input flex-shrink-0" type="radio" checked value="Ship COD" name="payment" id="listGroupRadios3">
                                                    <div>
                                                        <strong>Ship COD</strong>
                                                        <p>Cash on delivery (COD) is when a recipient pays for a good or service at the time of delivery.</p>
                                                    </div>
                                                </label>
@*                                                 <label class="list-group-item d-flex">
                                                    <input class="form-check-input flex-shrink-0" type="radio" value="Payment by Card" name="payment" id="listGroupRadios3">
                                                    <div>
                                                        <strong>VNPAY</strong>
                                                        <p>Pay via VNPAY; you can pay with your credit card if you don’t have a VNPAY account.</p>
                                                    </div>
                                                </label> *@
                                            </div>
                                            <button type="submit" name="submit" class="btn btn-dark btn-full btn-medium">Place an order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
            </div>
        </section>


        @*SALE BANNER*@
        <section id="shipping-information">
            <hr>
            <div class="container">
                <div class="row d-flex flex-wrap align-items-center justify-content-between">
                    <div class="col-md-3 col-sm-6">
                        <div class="icon-box">
                            <i class="icon icon-truck"></i>
                            <h4 class="block-title">
                                <strong>Free shipping</strong> Over $200
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="icon-box">
                            <i class="icon icon-return"></i>
                            <h4 class="block-title">
                                <strong>Money back</strong> Return within 7 days
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="icon-box">
                            <i class="icon icon-tags1"></i>
                            <h4 class="block-title">
                                <strong>Buy 4 get 5th</strong> 50% off
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="icon-box">
                            <i class="icon icon-help_outline"></i>
                            <h4 class="block-title">
                                <strong>Any questions?</strong> experts are ready
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </section>


     @*FOOTER*@
<partial name="/Pages/_FooterCustomerSite.cshtml" model="new ProjectPRN221.Pages._FooterCustomerSiteModel()" />




        <div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;"></div><button type="button" id="cboxPrevious"></button><button type="button" id="cboxNext"></button><button type="button" id="cboxSlideshow"></button><div id="cboxLoadingOverlay" style="float: left;"></div><div id="cboxLoadingGraphic" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div></div>
