@page
@model ProjectPRN221.Pages.adminsite.news.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.News.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.News.Image" alt="News Image" />
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.News.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.News.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.News.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.News.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.News.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.News.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.News.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.News.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.News.CreatedbyNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.News.CreatedbyNavigation.AdminId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.News.Newsgroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.News.Newsgroup.NewsgroupId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="News.NewsId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Star Admin2 </title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="~/admin/vendors/feather/feather.css">
        <link rel="stylesheet" href="~/admin/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="~/admin/vendors/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" href="~/admin/vendors/typicons/typicons.css">
        <link rel="stylesheet" href="~/admin/vendors/simple-line-icons/css/simple-line-icons.css">
        <link rel="stylesheet" href="~/admin/vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="~/admin/css/vertical-layout-light/style.css">
        <!-- endinject -->
        <link rel="shortcut icon" href="~/admin/images/favicon.png" />
    </head>
    <body>


        <!-- plugins:js -->
        <script src="~/admin/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="~/admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="~/admin/js/off-canvas.js"></script>
        <script src="~/admin/js/hoverable-collapse.js"></script>
        <script src="~/admin/js/template.js"></script>
        <script src="~/admin/js/settings.js"></script>
        <script src="~/admin/js/todolist.js"></script>
        <!-- endinject -->
    </body>
</html>