@page
@model ProjectPRN221.Pages.adminsite.news.IndexModel

@{
    ViewData["Title"] = "News";

    Layout = "_AdminLayout";
}

<div class="container-scroller">
    <partial name="/Pages/_HeaderAdminsite.cshtml" model="new ProjectPRN221.Pages._HeaderAdminsiteModel()" />
    <partial name="/Pages/_LeftPageAdminSite.cshtml" model="new ProjectPRN221.Pages._LeftPageAdminSiteModel()" />

    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-start">
                            <div>
                                <h4 class="card-title card-title-dash">News</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <form method="post">
                                            <label for="newsgroup_id">News Group</label>
                                            <div>
                                                <input type="hidden" name="service" value="searchNewsGroup">
                                                <select asp-items="ViewBag.NewsGroups" id="newsgroup_id" name="newsgroup_id">
                                                    <option id="0" name="All">All</option>
                                                </select>
                                                <button class='btn btn-success  btn-sm' type="submit" name="submit">Search</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                </div>

                                <div class="col-md-4">
                                    <form class="search-form" method="post">
                                        <div class="form-group">
                                            <label for="title">Search Titles</label>
                                            <input type="hidden" name="service" value="searchNews">
                                            <input type="hidden" name="newsgroup_id" value="@ViewData["NewsNewsgroupId"]">
                                            <input type="text" class="form-control" name="title" id="title" placeholder="Search Here" title="Search here">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div>
                                <a href="/adminsite/news/Create" class="btn btn-primary text-white me-0">Create News</a>
                                <a onclick="exportToExcel()" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover" id="myTable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Group Name</th>
                                        <th>Image</th>
                                        <th>Tile</th>
                                        <th>Create by</th>
                                        <th>Created date</th>
                                        <th>Status</th>
                                        <th>Update</th>
                                        <th>Detail</th>
                                        @*<th>Delete</th>  *@
                                    </tr>
                                </thead>
                                <tbody id="newsList">
                                    @foreach (var item in Model.News)
                                    {
                                        <tr data-news-id="@item.NewsId">
                                            <td class="news-id">@item.NewsId</td>
                                            <td class="news-group-name">@item.Newsgroup.NewsgroupName</td>
                                            <td class="news-img"><img src="@item.Image" alt=""></td>
                                            <td class="news-title">@item.Title</td>
                                            <td class="news-createdby">@item.CreatedbyNavigation.Name</td>
                                            <td class="news-created-date">@item.CreatedDate.Value.ToString("MM/dd/yyyy HH:mm:ss")</td>
                                            <td class="news-status">@item.Status</td>
                                            <td>
                                                <div class="badge badge-info">
                                                    <a asp-page="./Edit" asp-route-id="@item.NewsId">Update</a>
                                                </div>
                                                <div class="badge badge-danger">
                                                    <a asp-page="./Delete" asp-route-id="@item.NewsId">Delete</a>
                                                </div>
                                            </td>
                                            <td><div class="badge badge-success"><a href="/customersite/news/Detail?id=@item.NewsId" target="_blank">Details</a></div></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                            @*PAGING*@
                            <div style="text-align: center">
                                @if (Model.News.PageIndex > 1)



                                {
                                    <a class="link-info" href="?pageIndex=@(Model.News.PageIndex - 1)">Previous</a>
                                }



                                else



                                {
                                    <span>Previous</span>
                                }

                                @for (int i = 1; i <= Model.News.TotalPages; i++)



                                {
                                    @if (i == Model.News.PageIndex)



                                    {
                                        <span>@i</span>
                                    }



                                    else



                                    {
                                        <a class="link-info" href="?pageIndex=@i">@i</a>
                                        @*@if (Model.Admin. == null)
                                {
                                <a href="?page=@i">@i</a>
                                }*@
                                    }
                                }

                                @if (Model.News.PageIndex < Model.News.TotalPages)



                                {
                                    <a class="link-info" href="?pageIndex=@(Model.News.PageIndex + 1)">Next</a>
                                }



                                else



                                {
                                    <span>Next</span>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
