@page
@model ProjectPRN221.Pages.customersite.about.IndexModel
@{
    ViewData["Title"] = "About";
    Layout = "CustomerLayout";
}


    @*HEADER*@
    @if (!string.IsNullOrEmpty(@Model.isCustomerAuthenticated))
    {
    <partial name="/Pages/_HeaderCustomersite.cshtml" model="new ProjectPRN221.Pages._HeaderCustomerSiteModel()" />
    }
    else
    {
    <partial name="/Pages/_HeaderGuestSite.cshtml" model="new ProjectPRN221.Pages._HeaderGuestSiteModel()" />
    }


    @if(Model.About.AId == 6)
    {
        <section class="site-banner jarallax min-height300 padding-large" style="background: url(/Images/about/teamworking.jpg) no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-title">About Us</h1>
                        <div class="breadcrumbs">
                            <span class="item">
                                <a href="">Home /</a>
                            </span>
                            <span class="item">About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <section class="site-banner jarallax min-height300 padding-large" style="background: url(/Images/about/teamworking.jpg) no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-title">@Model.About.Title</h1>
                        <div class="breadcrumbs">
                            <span class="item">
                                <a href="">Home /</a>
                            </span>
                            <span class="item">@Model.About.Title</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    }




        @*ABOUT*@
        @if(Model.About.AId == 6){
        <section id="about-us">
            <div class="container ">
                <div class="row d-flex align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="image-holder">
                                <img src="@Model.About.Image" alt="single" class="about-image" loading="lazy">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="detail">
                                <div class="display-header">
                                    <h2 style="text-align: center" class="section-title">@Model.About.Title</h2>
                                    <p>
                                         @Html.Raw(Model.About.Content)
                                    </p>
                                    <div class="btn-wrap">
                                        <a href="/customersite/shop" class="btn btn-dark btn-medium d-flex align-items-center" tabindex="0">Shop our store<i class="icon icon-arrow-io"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    }
    else
    {
         <section id="about-us">
            <div class="container ">
                <div class="row d-flex align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="detail">
                                <div class="display-header">
                                    <h2 style="text-align: center" class="section-title">@Model.About.Title</h2>
                                    <p>
                                         @Html.Raw(Model.About.Content)
                                    </p>
                                    <div class="btn-wrap">
                                        <a href="/customersite/shop" class="btn btn-dark btn-medium d-flex align-items-center" tabindex="0">Shop our store<i class="icon icon-arrow-io"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>       
    }

        <hr>
    @*NEW*@
    <section id="latest-blog" class="padding-large">
      <div class="container">
        <div class="section-header d-flex flex-wrap align-items-center justify-content-between">
          <h2 class="section-title">Our News</h2>
          <div class="btn-wrap align-right">
            <a href="/customersite/news" class="d-flex align-items-center">Read All Articles <i class="icon icon icon-arrow-io"></i>
            </a>
          </div>
        </div>

        
        <div class="row d-flex flex-wrap">

          @*LIST NEW*@
          
                    @foreach (var item in Model.News)
                    {
            <article class="col-md-4 post-item">
            <div class="image-holder zoom-effect">
              <a href="single-post.html">
                <img src="@item.image" alt="@item.image" class="post-image" loading="lazy">
              </a>
            </div>
            <div class="post-content d-flex">
              <div class="meta-date">
                <div class="meta-day text-primary">@item.day</div>
                <div class="meta-month">@item.month-@item.year</div>
              </div>
              <div class="post-header">
                <h3 class="post-title">
                  <a href="/customersite/news/Detail?id=@item.news_id">Latest trends of wearing street wears supremely</a>
                </h3>
                <a href="/customersite/news" class="blog-categories">@item.newsgroup_name</a>
              </div>
            </div>  
            </article>
                    }
        </div>
      </div>
    </section>

    @* BRAND*@
    <section id="brand-collection" class="padding-medium bg-light-grey">
      <div class="container">
      
        <div class="d-flex flex-wrap justify-content-between " style="margin-bottom: 20px;">
          <img src="/Images/brands/apple.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
          <img src="/Images/brands/intel.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
          <img src="/Images/brands/microsoft.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
          <img src="/Images/brands/dell.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
          <img src="/Images/brands/asus.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
        </div>
        
        <div class="d-flex flex-wrap justify-content-between">
          <img src="/Images/brands/canon.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
          <img src="/Images/brands/hp.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
          <img src="/Images/brands/lenovo.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
          <img src="/Images/brands/lg.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
          <img src="/Images/brands/sony.svg" alt="phone" class="brand-image" style="width: 100px; height: 50px;">
        </div>
      </div>
    </section>

        <section id="instagram" class="padding-large">
        </section>

         @*FOOTER*@
<partial name="/Pages/_FooterCustomerSite.cshtml" model="new ProjectPRN221.Pages._FooterCustomerSiteModel()" />

