@page
@model ProjectPRN221.Pages.customersite.contact.IndexModel
@{
    ViewData["Title"] = "Contact";
    Layout = "CustomerLayout";
}

    @*HEADER*@
    @if (!string.IsNullOrEmpty(@Model.isCustomerAuthenticated))
    {
    <partial name="/Pages/_HeaderCustomersite.cshtml" model="new ProjectPRN221.Pages._HeaderCustomerSiteModel()" />
    }
    else
    {
    <partial name="/Pages/_HeaderGuestSite.cshtml" model="new ProjectPRN221.Pages._HeaderGuestSiteModel()" />
    }

        <section class="site-banner jarallax padding-large" style="background: url('/Images/about/teamworking.jpg') no-repeat; background-position: top;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-title">Contact us</h1>
                        <div class="breadcrumbs">
                            <span class="item">
                                <a href="HomeController">Home /</a>
                            </span>
                            <span class="item">Contact us</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact-information padding-large">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="section-header">
                            <h2 class="section-title">Get In Touch</h2>
                        </div>
                        <div class="contact-detail">
                            <div class="detail-list">
                                <p>We welcome and value your opinions, so please feel free to share your thoughts with us, expressing what you think about our product or the overall quality of our website. In addition, we greatly appreciate any feedback you may have, as it helps us improve and enhance our offerings to better meet your needs.</p>
                                <ul class="list-unstyled list-icon">
                                    <li>
                                        <a href="tel://0968519615"><i class="icon icon-phone"></i>096-851-9615</a>
                                    </li>
                                    <li>
                                        <a href="mailto:hightech05vn@gmail.com"><i class="icon icon-mail"></i>hightech05vn@gmail.com</a>
                                    </li>
                                    <li>
                                        <a href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+H%E1%BB%8Dc+FPT/data=!3m1!4b1!4m6!3m5!1s0x31345b465a4e65fb:0xaae6040cfabe8fe!8m2!3d21.01325!4d105.5270643!16s%2Fm%2F02rsytm?hl=vi-VN&entry=ttu}" target="_blank"> 
                                           <i class="icon icon-map-pin"></i>FPT UNIVERSITY - HOA LAC - THACH THAT - HA NOI
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="social-links">
                                <h3>Social Links</h3>
                                <ul class="d-flex list-unstyled">
                                    <li><a href="https://www.facebook.com/hightechstore05vn" class="icon icon-facebook"></a></li>
                                    <li><a href="https://twitter.com/" class="icon icon-twitter"></a></li>
                                    <li><a href="https://www.instagram.com/" class="icon icon-instagram"></a></li>
                                    <li><a href="https://www.youtube.com/" class="icon icon-youtube-play"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-information">
                            <div class="section-header">
                                <h2 class="section-title">Send us a message</h2>
                            </div>


                        @if (!string.IsNullOrEmpty(@Model.isCustomerAuthenticated))
                        {
                                <form name="contactform" method="post" class="contact-form">
                                    <input type="hidden"  name="service"  value="addContact" >
                                    <div class="form-item">
                                        <input type="hidden" minlength="2" name="name" value="@Model.Customers.Name" placeholder="Name" class="u-full-width bg-light" required>
                                        <input type="hidden" name="email" placeholder="E-mail" value="@Model.Customers.Email" class="u-full-width bg-light" required>
                                    @if (!string.IsNullOrEmpty(@Model.ms))
                                    {
                                        <h4>@Model.ms</h4>
                                    }
                                        <textarea class="u-full-width bg-light" name="message" placeholder="Message" style="height: 180px;" required></textarea>
                                    </div>
                                    <button type="submit" name="submit" class="btn btn-dark btn-full btn-medium">Submit</button>
                            </form>
                        }
                        else
                        {
                            <form name="contactform" method="post" class="contact-form">
                                <input type="hidden"  name="service"  value="addContact" >
                                <div class="form-item">
                                    <input type="text" minlength="2" name="name" placeholder="Name" class="u-full-width bg-light" required>
                                    <input type="text" name="email" placeholder="E-mail" class="u-full-width bg-light" required>
                                    @if (!string.IsNullOrEmpty(@Model.ms))
                                    {
                                        <h4>@Model.ms</h4>
                                    }
                                        <textarea class="u-full-width bg-light" name="message" placeholder="Message" style="height: 180px;" required></textarea>
                                    </div>
                                    <button type="submit" name="submit" class="btn btn-dark btn-full btn-medium">Submit</button>
                          </form>                           
                        }

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="google-map">
            <div class="mapouter">
                <div class="gmap_canvas">
                    @*width="100%"*@
                    <iframe  height="500" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.3117922776863!2d105.52230051441888!3d21.01319088600025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abae2885b045%3A0xf19308b125f71f0d!2sFPT%20University!5e0!3m2!1sen!2sca!4v1621787501330!5m2!1sen!2sca" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <a href="https://getasearch.com/fmovies"></a>
                    <br>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 500px;
                            width: 100%;
                        }
                        iframe{
                            width: 100%
                        }
                    </style>
                    <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                    <style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 500px;
                            width: 100%;
                        }
                    </style>
                </div>
            </div>
        </section>


        <section id="shipping-information">
            <hr>
            <div class="container">
                <div class="row d-flex flex-wrap align-items-center justify-content-between">
                    <div class="col-md-3 col-sm-6">
                        <div class="icon-box">
                            <i class="icon icon-truck"></i>
                            <h4 class="block-title">
                                <strong>Free shipping</strong> Over $200
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="icon-box">
                            <i class="icon icon-return"></i>
                            <h4 class="block-title">
                                <strong>Money back</strong> Return within 7 days
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="icon-box">
                            <i class="icon icon-tags1"></i>
                            <h4 class="block-title">
                                <strong>Buy 4 get 5th</strong> 50% off
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="icon-box">
                            <i class="icon icon-help_outline"></i>
                            <h4 class="block-title">
                                <strong>Any questions?</strong> experts are ready
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </section>


     @*FOOTER*@
<partial name="/Pages/_FooterCustomerSite.cshtml" model="new ProjectPRN221.Pages._FooterCustomerSiteModel()" />

